<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ödev">

        <activity android:name=".KapakActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" />
        <activity android:name=".KayitOlActivity" />
        <activity android:name=".KayitSilActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".GenelBilgiActivity" />
        <activity android:name=".SehirlerActivity" />
        <activity android:name=".NufusActivity" />
        <activity android:name=".TuristikActivity" />
        <activity android:name=".AdminActivity" />

    </application>
</manifest>